/*1завдання*/

h3:first-child {color: pink;}

#greycol{color:grey}

div:nth-child(5)>p{color: red;}

p:nth-child(7){color:green}

.yellow{color:yellow}

 
/* 2 завдання */
.a{
    background-color:red;
}
.am{
    background-color:forestgreen;
}
.oz{
    background-color:green;
}
.fi{
    background-color:gold;
}
.f{
    background-color:gray;
}
.in{
    background-color:purple;
}
.an{
    background-color:palevioletred;
}
.zl{
    background-color:paleturquoise;
}
.ul{
    background-color:lawngreen;
}
.p{
    background-color:grey;
}
.t{
    background-color:darkgray;
}
.h{
    background-color:forestgreen;
}
.ih{
    background-color:hotpink;
}
.g{
    background-color:rebeccapurple;
}
.m{
    background-color:silver;
}
.b{
    background-color:crimson;
}
.um{
    background-color:navy;
}
.ge{
    background-color:orange;
}